{:paths   ["src/main" "resources"]

 :deps    {org.clojure/clojure                 {:mvn/version "1.10.3"}
           com.taoensso/timbre                 {:mvn/version "5.0.0"}
           com.wsscode/pathom                  {:mvn/version "2.2.31"}
           com.fulcrologic/fulcro              {:git/url "https://github.com/fulcrologic/fulcro.git"
                                                :sha     "0a52e40e49f40d6b2a0c6900ba2841c4709f2af0"}
           com.fulcrologic/semantic-ui-wrapper {:mvn/version "2.0.1"}
           com.fulcrologic/guardrails          {:mvn/version "1.1.4"}
           hiccup/hiccup                       {:mvn/version "1.0.5"}
           http-kit/http-kit                   {:mvn/version "2.5.0"}
           mount/mount                         {:mvn/version "0.1.16"}
           org.clojure/core.async              {:mvn/version "1.3.610"}

           ;; To simulate Datomic on the back-end
           datascript/datascript               {:mvn/version "0.18.7"}

           ring/ring-core                      {:mvn/version "1.8.1"}
           ring/ring-defaults                  {:mvn/version "0.3.2"}}

 :aliases {:dev {:extra-paths ["src/test" "src/dev" "src/workspaces"]
                 :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]
                 :extra-deps  {org.clojure/clojurescript   {:mvn/version "1.10.773"}
                               thheller/shadow-cljs        {:mvn/version "2.11.23"}
                               fulcrologic/fulcro-spec     {:mvn/version "3.1.8"}
                               binaryage/devtools          {:mvn/version "1.0.0"}
                               org.clojure/tools.namespace {:mvn/version "1.0.0"}}}}}
